@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a new Machine</h2>

<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)

  <br>

  <p>Machine Status:</p>

  <br>

  @Html.Label("Opertational")
  @Html.RadioButtonFor(model => model.MachineStatus, "Operational")

  <br>

  @Html.Label("Malfunctioning")
  @Html.RadioButtonFor(model => model.MachineStatus, "Malfunctioning")

  <br>

  @Html.Label("In Repair")
  @Html.RadioButtonFor(model => model.MachineStatus, "In Repair")

  <br>

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Add new machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>